# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.buzz'
'name': 'Buzz'
'fileTypes': [
  'spl',
  'bz'
]
'patterns': [
  {
    'comment': 'Single line comments'
    'match': '^//.*$'
    'name': 'comment.line.buzz'
  }
  {
    'comment': 'Boolean constants'
    'match': '(true|false)'
    'name': 'constant.language.buzz'
  }
  {
    'match': '(var|in|if|else)'
    'name': 'keyword.control.buzz'
  }
  {
    'match': '(print|eof|main)'
    'name': 'entity.name.function.buzz'
  }
  {
    'match': '(read)'
    'name': 'variable.language.buzz'
  }
  {
    'match': '(\-?[0-9]+)'
    'name': 'constant.numeric.buzz'
  }
  {
    'match': '\\[\\]'
    'name': 'constant.other.buzz'
  }
]
